.fondo {
    /* background-color: #C38154; */
    background-image: url("Texturelabs_Sky_166XL.jpg");
    background-size: cover;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.gifContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /* max-width: 220px; */
}

.title{
    font-family: 'Fjalla One';
    font-size: 3rem;
    padding: 0;
    margin: 0 0 1rem 0;
    height: min-content;
    color: #FFC26F;
}

.plane{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    filter: drop-shadow(3px 3px 3px rgba(76, 76, 76, 0.5));
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: min-content;
    margin-top: 250px;
}