.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    white-space: nowrap;
    bottom: 0;
    position: absolute;
    right: 0;
    width:auto;
}

.footer h4{
    color: #FFC26F;
}

.footer a{
    color: #FFC26F;
}